//! **************************************************************************
// Written by: Map P.20131013 on Tue Mar 17 13:55:12 2020
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "T8" LEVEL 1;
COMP "ad9238_data_ch0<10>" LOCATE = SITE "D11" LEVEL 1;
COMP "ad9238_data_ch0<11>" LOCATE = SITE "C10" LEVEL 1;
COMP "ad9238_data_ch1<10>" LOCATE = SITE "B10" LEVEL 1;
COMP "ad9238_data_ch1<11>" LOCATE = SITE "A11" LEVEL 1;
COMP "vga_out_hs" LOCATE = SITE "M14" LEVEL 1;
COMP "vga_out_vs" LOCATE = SITE "L13" LEVEL 1;
COMP "rst_n" LOCATE = SITE "L3" LEVEL 1;
COMP "ad9238_data_ch0<0>" LOCATE = SITE "B14" LEVEL 1;
COMP "ad9238_data_ch0<1>" LOCATE = SITE "A14" LEVEL 1;
COMP "ad9238_data_ch0<2>" LOCATE = SITE "B16" LEVEL 1;
COMP "ad9238_data_ch0<3>" LOCATE = SITE "B15" LEVEL 1;
COMP "ad9238_data_ch1<0>" LOCATE = SITE "B5" LEVEL 1;
COMP "ad9238_data_ch0<4>" LOCATE = SITE "C16" LEVEL 1;
COMP "ad9238_data_ch1<1>" LOCATE = SITE "A5" LEVEL 1;
COMP "ad9238_data_ch0<5>" LOCATE = SITE "C15" LEVEL 1;
COMP "ad9238_data_ch1<2>" LOCATE = SITE "B6" LEVEL 1;
COMP "ad9238_data_ch0<6>" LOCATE = SITE "E15" LEVEL 1;
COMP "ad9238_data_ch1<3>" LOCATE = SITE "A6" LEVEL 1;
COMP "ad9238_data_ch0<7>" LOCATE = SITE "D16" LEVEL 1;
COMP "ad9238_data_ch1<4>" LOCATE = SITE "A7" LEVEL 1;
COMP "ad9238_data_ch0<8>" LOCATE = SITE "E11" LEVEL 1;
COMP "ad9238_data_ch1<5>" LOCATE = SITE "B8" LEVEL 1;
COMP "ad9238_data_ch0<9>" LOCATE = SITE "C9" LEVEL 1;
COMP "ad9238_data_ch1<6>" LOCATE = SITE "A8" LEVEL 1;
COMP "ad9238_data_ch1<7>" LOCATE = SITE "C8" LEVEL 1;
COMP "ad9238_data_ch1<8>" LOCATE = SITE "A9" LEVEL 1;
COMP "ad9238_data_ch1<9>" LOCATE = SITE "A10" LEVEL 1;
COMP "ad9238_clk_ch0" LOCATE = SITE "E16" LEVEL 1;
COMP "ad9238_clk_ch1" LOCATE = SITE "A4" LEVEL 1;
COMP "vga_out_b<0>" LOCATE = SITE "P7" LEVEL 1;
COMP "vga_out_b<1>" LOCATE = SITE "M7" LEVEL 1;
COMP "vga_out_b<2>" LOCATE = SITE "P8" LEVEL 1;
COMP "vga_out_b<3>" LOCATE = SITE "N8" LEVEL 1;
COMP "vga_out_b<4>" LOCATE = SITE "L7" LEVEL 1;
COMP "vga_out_g<0>" LOCATE = SITE "M9" LEVEL 1;
COMP "vga_out_g<1>" LOCATE = SITE "N9" LEVEL 1;
COMP "vga_out_g<2>" LOCATE = SITE "P9" LEVEL 1;
COMP "vga_out_g<3>" LOCATE = SITE "L10" LEVEL 1;
COMP "vga_out_g<4>" LOCATE = SITE "M10" LEVEL 1;
COMP "vga_out_g<5>" LOCATE = SITE "P11" LEVEL 1;
COMP "vga_out_r<0>" LOCATE = SITE "M11" LEVEL 1;
COMP "vga_out_r<1>" LOCATE = SITE "M12" LEVEL 1;
COMP "vga_out_r<2>" LOCATE = SITE "L12" LEVEL 1;
COMP "vga_out_r<3>" LOCATE = SITE "N14" LEVEL 1;
COMP "vga_out_r<4>" LOCATE = SITE "M13" LEVEL 1;
PIN adc_pll_m0/clkout1_buf_pin<1> = BEL "adc_pll_m0/clkout1_buf" PINNAME O;
PIN "adc_pll_m0/clkout1_buf_pin<1>" CLOCK_DEDICATED_ROUTE = FALSE;
PIN
        wav_display_m0/buffer/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.SIMPLE_PRIM9.ram_pins<27>
        = BEL
        "wav_display_m0/buffer/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.SIMPLE_PRIM9.ram"
        PINNAME CLKBRDCLK;
PIN
        wav_display_m1/buffer/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.SIMPLE_PRIM9.ram_pins<27>
        = BEL
        "wav_display_m1/buffer/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.SIMPLE_PRIM9.ram"
        PINNAME CLKBRDCLK;
TIMEGRP video_pll_m0_clkfx = BEL "video_pll_m0/clkout1_buf" BEL
        "grid_display_m0/timing_gen_xy_m0/x_cnt_11" BEL
        "grid_display_m0/timing_gen_xy_m0/x_cnt_10" BEL
        "grid_display_m0/timing_gen_xy_m0/x_cnt_9" BEL
        "grid_display_m0/timing_gen_xy_m0/x_cnt_8" BEL
        "grid_display_m0/timing_gen_xy_m0/x_cnt_7" BEL
        "grid_display_m0/timing_gen_xy_m0/x_cnt_6" BEL
        "grid_display_m0/timing_gen_xy_m0/x_cnt_5" BEL
        "grid_display_m0/timing_gen_xy_m0/x_cnt_4" BEL
        "grid_display_m0/timing_gen_xy_m0/x_cnt_3" BEL
        "grid_display_m0/timing_gen_xy_m0/x_cnt_2" BEL
        "grid_display_m0/timing_gen_xy_m0/x_cnt_1" BEL
        "grid_display_m0/timing_gen_xy_m0/x_cnt_0" BEL
        "grid_display_m0/timing_gen_xy_m0/y_cnt_11" BEL
        "grid_display_m0/timing_gen_xy_m0/y_cnt_10" BEL
        "grid_display_m0/timing_gen_xy_m0/y_cnt_9" BEL
        "grid_display_m0/timing_gen_xy_m0/y_cnt_8" BEL
        "grid_display_m0/timing_gen_xy_m0/y_cnt_7" BEL
        "grid_display_m0/timing_gen_xy_m0/y_cnt_6" BEL
        "grid_display_m0/timing_gen_xy_m0/y_cnt_5" BEL
        "grid_display_m0/timing_gen_xy_m0/y_cnt_4" BEL
        "grid_display_m0/timing_gen_xy_m0/y_cnt_3" BEL
        "grid_display_m0/timing_gen_xy_m0/y_cnt_2" BEL
        "grid_display_m0/timing_gen_xy_m0/y_cnt_1" BEL
        "grid_display_m0/timing_gen_xy_m0/y_cnt_0" BEL
        "grid_display_m0/grid_x_3" BEL "grid_display_m0/grid_x_2" BEL
        "grid_display_m0/grid_x_1" BEL "grid_display_m0/grid_x_0" BEL
        "grid_display_m0/timing_gen_xy_m0/vs_d0" BEL
        "grid_display_m0/timing_gen_xy_m0/de_d0" BEL
        "grid_display_m0/timing_gen_xy_m0/de_d1" BEL
        "grid_display_m0/timing_gen_xy_m0/vs_d1" BEL
        "grid_display_m0/v_data_22" BEL "grid_display_m0/v_data_14" BEL
        "grid_display_m0/v_data_7" BEL "grid_display_m0/region_active" BEL
        "wav_display_m1/rdaddress_9" BEL "wav_display_m1/rdaddress_8" BEL
        "wav_display_m1/rdaddress_7" BEL "wav_display_m1/rdaddress_6" BEL
        "wav_display_m1/rdaddress_5" BEL "wav_display_m1/rdaddress_4" BEL
        "wav_display_m1/rdaddress_3" BEL "wav_display_m1/rdaddress_2" BEL
        "wav_display_m1/rdaddress_1" BEL "wav_display_m1/rdaddress_0" BEL
        "wav_display_m1/timing_gen_xy_m0/y_cnt_11" BEL
        "wav_display_m1/timing_gen_xy_m0/y_cnt_10" BEL
        "wav_display_m1/timing_gen_xy_m0/y_cnt_9" BEL
        "wav_display_m1/timing_gen_xy_m0/y_cnt_8" BEL
        "wav_display_m1/timing_gen_xy_m0/y_cnt_7" BEL
        "wav_display_m1/timing_gen_xy_m0/y_cnt_6" BEL
        "wav_display_m1/timing_gen_xy_m0/y_cnt_5" BEL
        "wav_display_m1/timing_gen_xy_m0/y_cnt_4" BEL
        "wav_display_m1/timing_gen_xy_m0/y_cnt_3" BEL
        "wav_display_m1/timing_gen_xy_m0/y_cnt_2" BEL
        "wav_display_m1/timing_gen_xy_m0/y_cnt_1" BEL
        "wav_display_m1/timing_gen_xy_m0/y_cnt_0" BEL
        "wav_display_m1/timing_gen_xy_m0/x_cnt_11" BEL
        "wav_display_m1/timing_gen_xy_m0/x_cnt_10" BEL
        "wav_display_m1/timing_gen_xy_m0/x_cnt_9" BEL
        "wav_display_m1/timing_gen_xy_m0/x_cnt_8" BEL
        "wav_display_m1/timing_gen_xy_m0/x_cnt_7" BEL
        "wav_display_m1/timing_gen_xy_m0/x_cnt_6" BEL
        "wav_display_m1/timing_gen_xy_m0/x_cnt_5" BEL
        "wav_display_m1/timing_gen_xy_m0/x_cnt_4" BEL
        "wav_display_m1/timing_gen_xy_m0/x_cnt_3" BEL
        "wav_display_m1/timing_gen_xy_m0/x_cnt_2" BEL
        "wav_display_m1/timing_gen_xy_m0/x_cnt_1" BEL
        "wav_display_m1/timing_gen_xy_m0/x_cnt_0" BEL
        "wav_display_m1/timing_gen_xy_m0/vs_d0" BEL
        "wav_display_m1/timing_gen_xy_m0/de_d0" BEL
        "wav_display_m1/timing_gen_xy_m0/de_d1" BEL
        "wav_display_m1/timing_gen_xy_m0/vs_d1" BEL "wav_display_m1/v_data_23"
        BEL "wav_display_m1/v_data_22" BEL "wav_display_m1/v_data_15" BEL
        "wav_display_m1/v_data_14" BEL "wav_display_m1/v_data_7" BEL
        "wav_display_m1/v_data_4" BEL "wav_display_m1/region_active" BEL
        "wav_display_m0/rdaddress_9" BEL "wav_display_m0/rdaddress_8" BEL
        "wav_display_m0/rdaddress_7" BEL "wav_display_m0/rdaddress_6" BEL
        "wav_display_m0/rdaddress_5" BEL "wav_display_m0/rdaddress_4" BEL
        "wav_display_m0/rdaddress_3" BEL "wav_display_m0/rdaddress_2" BEL
        "wav_display_m0/rdaddress_1" BEL "wav_display_m0/rdaddress_0" BEL
        "wav_display_m0/timing_gen_xy_m0/y_cnt_11" BEL
        "wav_display_m0/timing_gen_xy_m0/y_cnt_10" BEL
        "wav_display_m0/timing_gen_xy_m0/y_cnt_9" BEL
        "wav_display_m0/timing_gen_xy_m0/y_cnt_8" BEL
        "wav_display_m0/timing_gen_xy_m0/y_cnt_7" BEL
        "wav_display_m0/timing_gen_xy_m0/y_cnt_6" BEL
        "wav_display_m0/timing_gen_xy_m0/y_cnt_5" BEL
        "wav_display_m0/timing_gen_xy_m0/y_cnt_4" BEL
        "wav_display_m0/timing_gen_xy_m0/y_cnt_3" BEL
        "wav_display_m0/timing_gen_xy_m0/y_cnt_2" BEL
        "wav_display_m0/timing_gen_xy_m0/y_cnt_1" BEL
        "wav_display_m0/timing_gen_xy_m0/y_cnt_0" BEL
        "wav_display_m0/timing_gen_xy_m0/x_cnt_11" BEL
        "wav_display_m0/timing_gen_xy_m0/x_cnt_10" BEL
        "wav_display_m0/timing_gen_xy_m0/x_cnt_9" BEL
        "wav_display_m0/timing_gen_xy_m0/x_cnt_8" BEL
        "wav_display_m0/timing_gen_xy_m0/x_cnt_7" BEL
        "wav_display_m0/timing_gen_xy_m0/x_cnt_6" BEL
        "wav_display_m0/timing_gen_xy_m0/x_cnt_5" BEL
        "wav_display_m0/timing_gen_xy_m0/x_cnt_4" BEL
        "wav_display_m0/timing_gen_xy_m0/x_cnt_3" BEL
        "wav_display_m0/timing_gen_xy_m0/x_cnt_2" BEL
        "wav_display_m0/timing_gen_xy_m0/x_cnt_1" BEL
        "wav_display_m0/timing_gen_xy_m0/x_cnt_0" BEL
        "wav_display_m0/timing_gen_xy_m0/vs_d0" BEL
        "wav_display_m0/timing_gen_xy_m0/de_d0" BEL
        "wav_display_m0/timing_gen_xy_m0/de_d1" BEL
        "wav_display_m0/timing_gen_xy_m0/vs_d1" BEL "wav_display_m0/v_data_23"
        BEL "wav_display_m0/v_data_22" BEL "wav_display_m0/v_data_15" BEL
        "wav_display_m0/v_data_14" BEL "wav_display_m0/v_data_7" BEL
        "wav_display_m0/v_data_4" BEL "wav_display_m0/region_active" BEL
        "color_bar_m0/h_cnt_10" BEL "color_bar_m0/h_cnt_9" BEL
        "color_bar_m0/h_cnt_8" BEL "color_bar_m0/h_cnt_7" BEL
        "color_bar_m0/h_cnt_6" BEL "color_bar_m0/h_cnt_5" BEL
        "color_bar_m0/h_cnt_4" BEL "color_bar_m0/h_cnt_3" BEL
        "color_bar_m0/h_cnt_2" BEL "color_bar_m0/h_cnt_1" BEL
        "color_bar_m0/h_cnt_0" BEL "color_bar_m0/v_cnt_11" BEL
        "color_bar_m0/v_cnt_10" BEL "color_bar_m0/v_cnt_9" BEL
        "color_bar_m0/v_cnt_8" BEL "color_bar_m0/v_cnt_7" BEL
        "color_bar_m0/v_cnt_6" BEL "color_bar_m0/v_cnt_5" BEL
        "color_bar_m0/v_cnt_4" BEL "color_bar_m0/v_cnt_3" BEL
        "color_bar_m0/v_cnt_2" BEL "color_bar_m0/v_cnt_1" BEL
        "color_bar_m0/v_cnt_0" BEL "color_bar_m0/rgb_b_reg_0" BEL
        "color_bar_m0/rgb_r_reg_0" BEL "color_bar_m0/rgb_g_reg_0" BEL
        "color_bar_m0/active_x_10" BEL "color_bar_m0/active_x_9" BEL
        "color_bar_m0/active_x_8" BEL "color_bar_m0/active_x_7" BEL
        "color_bar_m0/active_x_6" BEL "color_bar_m0/active_x_5" BEL
        "color_bar_m0/active_x_4" BEL "color_bar_m0/active_x_3" BEL
        "color_bar_m0/active_x_2" BEL "color_bar_m0/active_x_1" BEL
        "color_bar_m0/active_x_0" BEL "color_bar_m0/hs_reg_d0" BEL
        "color_bar_m0/vs_reg_d0" BEL "color_bar_m0/video_active_d0" BEL
        "color_bar_m0/vs_reg" BEL "color_bar_m0/hs_reg" BEL
        "color_bar_m0/v_active" BEL "color_bar_m0/h_active" BEL
        "grid_display_m0/v_data_23" BEL "grid_display_m0/v_data_15" BEL
        "grid_display_m0/v_data_4" BEL
        "grid_display_m0/timing_gen_xy_m0/Mshreg_i_data_d1_3" BEL
        "grid_display_m0/timing_gen_xy_m0/i_data_d1_3" BEL
        "grid_display_m0/timing_gen_xy_m0/Mshreg_i_data_d1_10" BEL
        "grid_display_m0/timing_gen_xy_m0/i_data_d1_10" BEL
        "grid_display_m0/timing_gen_xy_m0/Mshreg_i_data_d1_19" BEL
        "grid_display_m0/timing_gen_xy_m0/i_data_d1_19" BEL
        "wav_display_m1/timing_gen_xy_m0/Mshreg_hs_d1" BEL
        "wav_display_m1/timing_gen_xy_m0/hs_d1" BEL
        "wav_display_m1/timing_gen_xy_m0/Mshreg_i_data_d1_3" BEL
        "wav_display_m1/timing_gen_xy_m0/i_data_d1_3" BEL
        "wav_display_m1/timing_gen_xy_m0/Mshreg_i_data_d1_5" BEL
        "wav_display_m1/timing_gen_xy_m0/i_data_d1_5" BEL
        "wav_display_m1/timing_gen_xy_m0/Mshreg_i_data_d1_10" BEL
        "wav_display_m1/timing_gen_xy_m0/i_data_d1_10" BEL
        "wav_display_m1/timing_gen_xy_m0/Mshreg_i_data_d1_15" BEL
        "wav_display_m1/timing_gen_xy_m0/i_data_d1_15" BEL
        "wav_display_m1/timing_gen_xy_m0/Mshreg_i_data_d1_19" BEL
        "wav_display_m1/timing_gen_xy_m0/i_data_d1_19" BEL
        "wav_display_m1/timing_gen_xy_m0/Mshreg_i_data_d1_20" BEL
        "wav_display_m1/timing_gen_xy_m0/i_data_d1_20" BEL
        "wav_display_m0/timing_gen_xy_m0/Mshreg_i_data_d1_3" BEL
        "wav_display_m0/timing_gen_xy_m0/i_data_d1_3" BEL
        "wav_display_m0/timing_gen_xy_m0/Mshreg_i_data_d1_5" BEL
        "wav_display_m0/timing_gen_xy_m0/i_data_d1_5" BEL
        "wav_display_m0/timing_gen_xy_m0/Mshreg_i_data_d1_10" BEL
        "wav_display_m0/timing_gen_xy_m0/i_data_d1_10" BEL
        "wav_display_m0/timing_gen_xy_m0/Mshreg_i_data_d1_15" BEL
        "wav_display_m0/timing_gen_xy_m0/i_data_d1_15" BEL
        "wav_display_m0/timing_gen_xy_m0/Mshreg_i_data_d1_19" BEL
        "wav_display_m0/timing_gen_xy_m0/i_data_d1_19" BEL
        "wav_display_m0/timing_gen_xy_m0/Mshreg_i_data_d1_20" BEL
        "wav_display_m0/timing_gen_xy_m0/i_data_d1_20" PIN
        "wav_display_m0/buffer/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.SIMPLE_PRIM9.ram_pins<27>"
        PIN
        "wav_display_m1/buffer/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.SIMPLE_PRIM9.ram_pins<27>";
PIN
        wav_display_m0/buffer/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.SIMPLE_PRIM9.ram_pins<26>
        = BEL
        "wav_display_m0/buffer/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.SIMPLE_PRIM9.ram"
        PINNAME CLKAWRCLK;
PIN
        wav_display_m1/buffer/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.SIMPLE_PRIM9.ram_pins<26>
        = BEL
        "wav_display_m1/buffer/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.SIMPLE_PRIM9.ram"
        PINNAME CLKAWRCLK;
TIMEGRP adc_pll_m0_clkfx = BEL "ad9238_sample_m1/sample_cnt_9" BEL
        "ad9238_sample_m1/sample_cnt_8" BEL "ad9238_sample_m1/sample_cnt_7"
        BEL "ad9238_sample_m1/sample_cnt_6" BEL
        "ad9238_sample_m1/sample_cnt_5" BEL "ad9238_sample_m1/sample_cnt_4"
        BEL "ad9238_sample_m1/sample_cnt_3" BEL
        "ad9238_sample_m1/sample_cnt_2" BEL "ad9238_sample_m1/sample_cnt_1"
        BEL "ad9238_sample_m1/sample_cnt_0" BEL
        "ad9238_sample_m1/state_FSM_FFd1" BEL
        "ad9238_sample_m1/state_FSM_FFd2" BEL "ad9238_sample_m1/adc_buf_wr"
        BEL "ad9238_sample_m1/adc_data_narrow_d0_7" BEL
        "ad9238_sample_m1/adc_data_narrow_d0_6" BEL
        "ad9238_sample_m1/adc_data_narrow_d0_5" BEL
        "ad9238_sample_m1/adc_data_narrow_d0_4" BEL
        "ad9238_sample_m1/adc_data_narrow_d0_3" BEL
        "ad9238_sample_m1/adc_data_narrow_d0_2" BEL
        "ad9238_sample_m1/adc_data_narrow_d0_1" BEL
        "ad9238_sample_m1/adc_data_narrow_d0_0" BEL
        "ad9238_sample_m1/adc_data_narrow_7" BEL
        "ad9238_sample_m1/adc_data_narrow_6" BEL
        "ad9238_sample_m1/adc_data_narrow_5" BEL
        "ad9238_sample_m1/adc_data_narrow_4" BEL
        "ad9238_sample_m1/adc_data_narrow_3" BEL
        "ad9238_sample_m1/adc_data_narrow_2" BEL
        "ad9238_sample_m1/adc_data_narrow_1" BEL
        "ad9238_sample_m1/adc_data_narrow_0" BEL
        "ad9238_sample_m1/adc_data_offset_11" BEL
        "ad9238_sample_m1/adc_data_offset_10" BEL
        "ad9238_sample_m1/adc_data_offset_9" BEL
        "ad9238_sample_m1/adc_data_offset_8" BEL
        "ad9238_sample_m1/adc_data_offset_7" BEL
        "ad9238_sample_m1/adc_data_offset_6" BEL
        "ad9238_sample_m1/adc_data_offset_5" BEL
        "ad9238_sample_m1/adc_data_offset_4" BEL
        "ad9238_sample_m1/adc_data_reve_11" BEL
        "ad9238_sample_m1/adc_data_reve_10" BEL
        "ad9238_sample_m1/adc_data_reve_9" BEL
        "ad9238_sample_m1/adc_data_reve_8" BEL
        "ad9238_sample_m1/adc_data_reve_7" BEL
        "ad9238_sample_m1/adc_data_reve_6" BEL
        "ad9238_sample_m1/adc_data_reve_5" BEL
        "ad9238_sample_m1/adc_data_reve_4" BEL "ad9238_sample_m0/sample_cnt_9"
        BEL "ad9238_sample_m0/sample_cnt_8" BEL
        "ad9238_sample_m0/sample_cnt_7" BEL "ad9238_sample_m0/sample_cnt_6"
        BEL "ad9238_sample_m0/sample_cnt_5" BEL
        "ad9238_sample_m0/sample_cnt_4" BEL "ad9238_sample_m0/sample_cnt_3"
        BEL "ad9238_sample_m0/sample_cnt_2" BEL
        "ad9238_sample_m0/sample_cnt_1" BEL "ad9238_sample_m0/sample_cnt_0"
        BEL "ad9238_sample_m0/state_FSM_FFd1" BEL
        "ad9238_sample_m0/adc_buf_wr" BEL
        "ad9238_sample_m0/adc_data_narrow_d0_7" BEL
        "ad9238_sample_m0/adc_data_narrow_d0_6" BEL
        "ad9238_sample_m0/adc_data_narrow_d0_5" BEL
        "ad9238_sample_m0/adc_data_narrow_d0_4" BEL
        "ad9238_sample_m0/adc_data_narrow_d0_3" BEL
        "ad9238_sample_m0/adc_data_narrow_d0_2" BEL
        "ad9238_sample_m0/adc_data_narrow_d0_1" BEL
        "ad9238_sample_m0/adc_data_narrow_d0_0" BEL
        "ad9238_sample_m0/adc_data_narrow_7" BEL
        "ad9238_sample_m0/adc_data_narrow_6" BEL
        "ad9238_sample_m0/adc_data_narrow_5" BEL
        "ad9238_sample_m0/adc_data_narrow_4" BEL
        "ad9238_sample_m0/adc_data_narrow_3" BEL
        "ad9238_sample_m0/adc_data_narrow_2" BEL
        "ad9238_sample_m0/adc_data_narrow_1" BEL
        "ad9238_sample_m0/adc_data_narrow_0" BEL
        "ad9238_sample_m0/adc_data_offset_11" BEL
        "ad9238_sample_m0/adc_data_offset_10" BEL
        "ad9238_sample_m0/adc_data_offset_9" BEL
        "ad9238_sample_m0/adc_data_offset_8" BEL
        "ad9238_sample_m0/adc_data_offset_7" BEL
        "ad9238_sample_m0/adc_data_offset_6" BEL
        "ad9238_sample_m0/adc_data_offset_5" BEL
        "ad9238_sample_m0/adc_data_offset_4" BEL
        "ad9238_sample_m0/adc_data_reve_11" BEL
        "ad9238_sample_m0/adc_data_reve_10" BEL
        "ad9238_sample_m0/adc_data_reve_9" BEL
        "ad9238_sample_m0/adc_data_reve_8" BEL
        "ad9238_sample_m0/adc_data_reve_7" BEL
        "ad9238_sample_m0/adc_data_reve_6" BEL
        "ad9238_sample_m0/adc_data_reve_5" BEL
        "ad9238_sample_m0/adc_data_reve_4" PIN
        "wav_display_m0/buffer/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.SIMPLE_PRIM9.ram_pins<26>"
        PIN
        "wav_display_m1/buffer/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.SIMPLE_PRIM9.ram_pins<26>"
        BEL "ad9238_clk_ch0" BEL "ad9238_clk_ch1" BEL
        "adc_pll_m0/clkout1_buf";
PIN SP6_BUFIO_INSERT_ML_BUFIO2_0_pins<0> = BEL "SP6_BUFIO_INSERT_ML_BUFIO2_0"
        PINNAME DIVCLK;
PIN adc_pll_m0/dcm_sp_inst_pins<3> = BEL "adc_pll_m0/dcm_sp_inst" PINNAME
        CLKIN;
PIN SP6_BUFIO_INSERT_ML_BUFIO2_1_pins<0> = BEL "SP6_BUFIO_INSERT_ML_BUFIO2_1"
        PINNAME DIVCLK;
PIN video_pll_m0/dcm_sp_inst_pins<3> = BEL "video_pll_m0/dcm_sp_inst" PINNAME
        CLKIN;
TIMEGRP sys_clk_pin = PIN "SP6_BUFIO_INSERT_ML_BUFIO2_0_pins<0>" PIN
        "adc_pll_m0/dcm_sp_inst_pins<3>" PIN
        "SP6_BUFIO_INSERT_ML_BUFIO2_1_pins<0>" PIN
        "video_pll_m0/dcm_sp_inst_pins<3>";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 50 MHz HIGH 50%;
TS_video_pll_m0_clkfx = PERIOD TIMEGRP "video_pll_m0_clkfx" TS_sys_clk_pin *
        1.3 HIGH 50%;
TS_adc_pll_m0_clkfx = PERIOD TIMEGRP "adc_pll_m0_clkfx" TS_sys_clk_pin * 1.3
        HIGH 50%;
SCHEMATIC END;

