//! **************************************************************************
// Written by: Map P.20131013 on Thu May 02 14:33:02 2019
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "T8" LEVEL 1;
COMP "sdram_cs_n" LOCATE = SITE "G1" LEVEL 1;
COMP "sdram_we_n" LOCATE = SITE "E1" LEVEL 1;
COMP "cmos_href" LOCATE = SITE "G12" LEVEL 1;
COMP "sdram_ba<0>" LOCATE = SITE "G6" LEVEL 1;
COMP "sdram_ba<1>" LOCATE = SITE "J6" LEVEL 1;
COMP "cmos_pclk" LOCATE = SITE "J13" LEVEL 1;
COMP "cmos_xclk" LOCATE = SITE "H13" LEVEL 1;
COMP "cmos_pwdn" LOCATE = SITE "F14" LEVEL 1;
COMP "sdram_dq<0>" LOCATE = SITE "A3" LEVEL 1;
COMP "sdram_dq<1>" LOCATE = SITE "B3" LEVEL 1;
COMP "sdram_dq<2>" LOCATE = SITE "A2" LEVEL 1;
COMP "sdram_dq<3>" LOCATE = SITE "B2" LEVEL 1;
COMP "sdram_dq<4>" LOCATE = SITE "B1" LEVEL 1;
COMP "sdram_dq<5>" LOCATE = SITE "C2" LEVEL 1;
COMP "sdram_dq<6>" LOCATE = SITE "C1" LEVEL 1;
COMP "sdram_dq<7>" LOCATE = SITE "D1" LEVEL 1;
COMP "sdram_dq<8>" LOCATE = SITE "H5" LEVEL 1;
COMP "sdram_dq<9>" LOCATE = SITE "G5" LEVEL 1;
COMP "rst_n" LOCATE = SITE "L3" LEVEL 1;
COMP "sdram_cas_n" LOCATE = SITE "F2" LEVEL 1;
COMP "sdram_ras_n" LOCATE = SITE "F1" LEVEL 1;
COMP "sdram_addr<0>" LOCATE = SITE "J3" LEVEL 1;
COMP "sdram_addr<1>" LOCATE = SITE "J4" LEVEL 1;
COMP "sdram_addr<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "sdram_addr<3>" LOCATE = SITE "K5" LEVEL 1;
COMP "sdram_addr<4>" LOCATE = SITE "P1" LEVEL 1;
COMP "sdram_addr<5>" LOCATE = SITE "N1" LEVEL 1;
COMP "sdram_addr<6>" LOCATE = SITE "M2" LEVEL 1;
COMP "sdram_addr<7>" LOCATE = SITE "M1" LEVEL 1;
COMP "sdram_addr<8>" LOCATE = SITE "L1" LEVEL 1;
COMP "sdram_addr<9>" LOCATE = SITE "K2" LEVEL 1;
COMP "sdram_cke" LOCATE = SITE "H2" LEVEL 1;
COMP "sdram_clk" LOCATE = SITE "H4" LEVEL 1;
COMP "cmos_db<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "cmos_db<1>" LOCATE = SITE "G14" LEVEL 1;
COMP "cmos_db<2>" LOCATE = SITE "J14" LEVEL 1;
COMP "cmos_db<3>" LOCATE = SITE "J12" LEVEL 1;
COMP "cmos_db<4>" LOCATE = SITE "H14" LEVEL 1;
COMP "cmos_db<5>" LOCATE = SITE "F13" LEVEL 1;
COMP "cmos_db<6>" LOCATE = SITE "H11" LEVEL 1;
COMP "cmos_db<7>" LOCATE = SITE "G11" LEVEL 1;
COMP "lcd_b<0>" LOCATE = SITE "R9" LEVEL 1;
COMP "lcd_b<1>" LOCATE = SITE "T12" LEVEL 1;
COMP "lcd_b<2>" LOCATE = SITE "L8" LEVEL 1;
COMP "lcd_b<3>" LOCATE = SITE "T9" LEVEL 1;
COMP "lcd_b<4>" LOCATE = SITE "R7" LEVEL 1;
COMP "lcd_b<5>" LOCATE = SITE "T7" LEVEL 1;
COMP "lcd_b<6>" LOCATE = SITE "T5" LEVEL 1;
COMP "lcd_b<7>" LOCATE = SITE "T6" LEVEL 1;
COMP "lcd_g<0>" LOCATE = SITE "R16" LEVEL 1;
COMP "lcd_g<1>" LOCATE = SITE "P15" LEVEL 1;
COMP "lcd_g<2>" LOCATE = SITE "T15" LEVEL 1;
COMP "lcd_g<3>" LOCATE = SITE "R15" LEVEL 1;
COMP "lcd_g<4>" LOCATE = SITE "T14" LEVEL 1;
COMP "lcd_g<5>" LOCATE = SITE "R14" LEVEL 1;
COMP "lcd_g<6>" LOCATE = SITE "R12" LEVEL 1;
COMP "lcd_g<7>" LOCATE = SITE "T13" LEVEL 1;
COMP "lcd_r<0>" LOCATE = SITE "K16" LEVEL 1;
COMP "lcd_r<1>" LOCATE = SITE "J16" LEVEL 1;
COMP "lcd_r<2>" LOCATE = SITE "L16" LEVEL 1;
COMP "lcd_r<3>" LOCATE = SITE "K15" LEVEL 1;
COMP "lcd_r<4>" LOCATE = SITE "M15" LEVEL 1;
COMP "lcd_r<5>" LOCATE = SITE "M16" LEVEL 1;
COMP "lcd_r<6>" LOCATE = SITE "P16" LEVEL 1;
COMP "lcd_r<7>" LOCATE = SITE "N16" LEVEL 1;
COMP "lcd_dclk" LOCATE = SITE "T4" LEVEL 1;
COMP "lcd_de" LOCATE = SITE "R2" LEVEL 1;
COMP "lcd_hs" LOCATE = SITE "R5" LEVEL 1;
COMP "cmos_sda" LOCATE = SITE "L14" LEVEL 1;
COMP "cmos_scl" LOCATE = SITE "K12" LEVEL 1;
COMP "lcd_vs" LOCATE = SITE "R1" LEVEL 1;
COMP "cmos_rst_n" LOCATE = SITE "E12" LEVEL 1;
COMP "sdram_dq<10>" LOCATE = SITE "H3" LEVEL 1;
COMP "sdram_dq<11>" LOCATE = SITE "F6" LEVEL 1;
COMP "sdram_dq<12>" LOCATE = SITE "G3" LEVEL 1;
COMP "sdram_dq<13>" LOCATE = SITE "F5" LEVEL 1;
COMP "sdram_dq<14>" LOCATE = SITE "F3" LEVEL 1;
COMP "sdram_dq<15>" LOCATE = SITE "F4" LEVEL 1;
COMP "cmos_vsync" LOCATE = SITE "K14" LEVEL 1;
COMP "sdram_dqm<0>" LOCATE = SITE "E2" LEVEL 1;
COMP "sdram_dqm<1>" LOCATE = SITE "H1" LEVEL 1;
COMP "sdram_addr<10>" LOCATE = SITE "K6" LEVEL 1;
COMP "sdram_addr<11>" LOCATE = SITE "K1" LEVEL 1;
COMP "sdram_addr<12>" LOCATE = SITE "J1" LEVEL 1;
PIN video_pll_m0/clkout1_buf_pin<1> = BEL "video_pll_m0/clkout1_buf" PINNAME
        O;
PIN "video_pll_m0/clkout1_buf_pin<1>" CLOCK_DEDICATED_ROUTE = FALSE;
PIN sys_pll_m0/clkout1_buf_pin<1> = BEL "sys_pll_m0/clkout1_buf" PINNAME O;
PIN "sys_pll_m0/clkout1_buf_pin<1>" CLOCK_DEDICATED_ROUTE = FALSE;
PIN sys_pll_m0/clkout2_buf_pin<1> = BEL "sys_pll_m0/clkout2_buf" PINNAME O;
PIN "sys_pll_m0/clkout2_buf_pin<1>" CLOCK_DEDICATED_ROUTE = FALSE;
PIN
        frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.WIDE_PRIM9.ram_pins<26>
        = BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.WIDE_PRIM9.ram"
        PINNAME CLKAWRCLK;
PIN
        frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.WIDE_PRIM9.ram_pins<27>
        = BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.WIDE_PRIM9.ram"
        PINNAME CLKBRDCLK;
TIMEGRP sys_pll_m0_clkout2 = BEL "sys_pll_m0/clkout3_buf" BEL
        "sdram_core_m0/cnt_200us_14" BEL "sdram_core_m0/cnt_200us_13" BEL
        "sdram_core_m0/cnt_200us_12" BEL "sdram_core_m0/cnt_200us_11" BEL
        "sdram_core_m0/cnt_200us_10" BEL "sdram_core_m0/cnt_200us_9" BEL
        "sdram_core_m0/cnt_200us_8" BEL "sdram_core_m0/cnt_200us_7" BEL
        "sdram_core_m0/cnt_200us_6" BEL "sdram_core_m0/cnt_200us_5" BEL
        "sdram_core_m0/cnt_200us_4" BEL "sdram_core_m0/cnt_200us_3" BEL
        "sdram_core_m0/cnt_200us_2" BEL "sdram_core_m0/cnt_200us_1" BEL
        "sdram_core_m0/cnt_200us_0" BEL "sdram_core_m0/state_FSM_FFd2" BEL
        "sdram_core_m0/state_FSM_FFd3" BEL "sdram_core_m0/state_FSM_FFd1" BEL
        "sdram_core_m0/state_FSM_FFd4" BEL "sdram_core_m0/state_FSM_FFd5" BEL
        "sdram_core_m0/cnt_clk_r_9" BEL "sdram_core_m0/cnt_clk_r_8" BEL
        "sdram_core_m0/cnt_clk_r_7" BEL "sdram_core_m0/cnt_clk_r_6" BEL
        "sdram_core_m0/cnt_clk_r_5" BEL "sdram_core_m0/cnt_clk_r_4" BEL
        "sdram_core_m0/cnt_clk_r_3" BEL "sdram_core_m0/cnt_clk_r_2" BEL
        "sdram_core_m0/cnt_clk_r_1" BEL "sdram_core_m0/cnt_clk_r_0" BEL
        "sdram_core_m0/cnt_7p5us_9" BEL "sdram_core_m0/cnt_7p5us_8" BEL
        "sdram_core_m0/cnt_7p5us_7" BEL "sdram_core_m0/cnt_7p5us_6" BEL
        "sdram_core_m0/cnt_7p5us_5" BEL "sdram_core_m0/cnt_7p5us_4" BEL
        "sdram_core_m0/cnt_7p5us_3" BEL "sdram_core_m0/cnt_7p5us_2" BEL
        "sdram_core_m0/cnt_7p5us_1" BEL "sdram_core_m0/cnt_7p5us_0" BEL
        "sdram_core_m0/sdram_addr_r_12" BEL "sdram_core_m0/sdram_addr_r_11"
        BEL "sdram_core_m0/sdram_addr_r_10" BEL "sdram_core_m0/sdram_addr_r_9"
        BEL "sdram_core_m0/sdram_addr_r_8" BEL "sdram_core_m0/sdram_addr_r_7"
        BEL "sdram_core_m0/sdram_addr_r_6" BEL "sdram_core_m0/sdram_addr_r_5"
        BEL "sdram_core_m0/sdram_addr_r_4" BEL "sdram_core_m0/sdram_addr_r_3"
        BEL "sdram_core_m0/sdram_addr_r_2" BEL "sdram_core_m0/sdram_addr_r_1"
        BEL "sdram_core_m0/sdram_addr_r_0" BEL "sdram_core_m0/sdram_ba_r_1"
        BEL "sdram_core_m0/sdram_ba_r_0" BEL "sdram_core_m0/we_n_r" BEL
        "sdram_core_m0/ras_n_r" BEL "sdram_core_m0/cas_n_r" BEL
        "sdram_core_m0/rd_burst_data_valid_d1" BEL
        "sdram_core_m0/wr_burst_data_req_d1" BEL "sdram_core_m0/read_flag" BEL
        "sdram_core_m0/wr_burst_data_req_d0" BEL
        "sdram_core_m0/rd_burst_data_valid_d0" BEL "sdram_core_m0/sdr_dq_oe"
        BEL "frame_read_write_m0/frame_fifo_read_m0/state_FSM_FFd2" BEL
        "frame_read_write_m0/frame_fifo_read_m0/state_FSM_FFd3" BEL
        "frame_read_write_m0/frame_fifo_read_m0/state_FSM_FFd1" BEL
        "frame_read_write_m0/frame_fifo_read_m0/rd_burst_addr_23" BEL
        "frame_read_write_m0/frame_fifo_read_m0/rd_burst_addr_22" BEL
        "frame_read_write_m0/frame_fifo_read_m0/rd_burst_addr_21" BEL
        "frame_read_write_m0/frame_fifo_read_m0/rd_burst_addr_20" BEL
        "frame_read_write_m0/frame_fifo_read_m0/rd_burst_addr_19" BEL
        "frame_read_write_m0/frame_fifo_read_m0/rd_burst_addr_18" BEL
        "frame_read_write_m0/frame_fifo_read_m0/rd_burst_addr_17" BEL
        "frame_read_write_m0/frame_fifo_read_m0/rd_burst_addr_16" BEL
        "frame_read_write_m0/frame_fifo_read_m0/rd_burst_addr_15" BEL
        "frame_read_write_m0/frame_fifo_read_m0/rd_burst_addr_14" BEL
        "frame_read_write_m0/frame_fifo_read_m0/rd_burst_addr_13" BEL
        "frame_read_write_m0/frame_fifo_read_m0/rd_burst_addr_12" BEL
        "frame_read_write_m0/frame_fifo_read_m0/rd_burst_addr_11" BEL
        "frame_read_write_m0/frame_fifo_read_m0/rd_burst_addr_10" BEL
        "frame_read_write_m0/frame_fifo_read_m0/rd_burst_addr_9" BEL
        "frame_read_write_m0/frame_fifo_read_m0/rd_burst_addr_8" BEL
        "frame_read_write_m0/frame_fifo_read_m0/rd_burst_addr_7" BEL
        "frame_read_write_m0/frame_fifo_read_m0/read_cnt_16" BEL
        "frame_read_write_m0/frame_fifo_read_m0/read_cnt_15" BEL
        "frame_read_write_m0/frame_fifo_read_m0/read_cnt_14" BEL
        "frame_read_write_m0/frame_fifo_read_m0/read_cnt_13" BEL
        "frame_read_write_m0/frame_fifo_read_m0/read_cnt_12" BEL
        "frame_read_write_m0/frame_fifo_read_m0/read_cnt_11" BEL
        "frame_read_write_m0/frame_fifo_read_m0/read_cnt_10" BEL
        "frame_read_write_m0/frame_fifo_read_m0/read_cnt_9" BEL
        "frame_read_write_m0/frame_fifo_read_m0/read_cnt_8" BEL
        "frame_read_write_m0/frame_fifo_read_m0/read_cnt_7" BEL
        "frame_read_write_m0/frame_fifo_read_m0/read_req_d2" BEL
        "frame_read_write_m0/frame_fifo_read_m0/read_req_d1" BEL
        "frame_read_write_m0/frame_fifo_read_m0/read_addr_index_d1_1" BEL
        "frame_read_write_m0/frame_fifo_read_m0/read_addr_index_d1_0" BEL
        "frame_read_write_m0/frame_fifo_read_m0/read_len_d1_9" BEL
        "frame_read_write_m0/frame_fifo_read_m0/read_req_d0" BEL
        "frame_read_write_m0/frame_fifo_read_m0/read_len_d0" BEL
        "frame_read_write_m0/frame_fifo_read_m0/rd_burst_req" BEL
        "frame_read_write_m0/frame_fifo_read_m0/read_addr_index_d0_1" BEL
        "frame_read_write_m0/frame_fifo_read_m0/read_addr_index_d0_0" BEL
        "frame_read_write_m0/frame_fifo_write_m0/state_FSM_FFd2" BEL
        "frame_read_write_m0/frame_fifo_write_m0/state_FSM_FFd3" BEL
        "frame_read_write_m0/frame_fifo_write_m0/state_FSM_FFd1" BEL
        "frame_read_write_m0/frame_fifo_write_m0/wr_burst_addr_23" BEL
        "frame_read_write_m0/frame_fifo_write_m0/wr_burst_addr_22" BEL
        "frame_read_write_m0/frame_fifo_write_m0/wr_burst_addr_21" BEL
        "frame_read_write_m0/frame_fifo_write_m0/wr_burst_addr_20" BEL
        "frame_read_write_m0/frame_fifo_write_m0/wr_burst_addr_19" BEL
        "frame_read_write_m0/frame_fifo_write_m0/wr_burst_addr_18" BEL
        "frame_read_write_m0/frame_fifo_write_m0/wr_burst_addr_17" BEL
        "frame_read_write_m0/frame_fifo_write_m0/wr_burst_addr_16" BEL
        "frame_read_write_m0/frame_fifo_write_m0/wr_burst_addr_15" BEL
        "frame_read_write_m0/frame_fifo_write_m0/wr_burst_addr_14" BEL
        "frame_read_write_m0/frame_fifo_write_m0/wr_burst_addr_13" BEL
        "frame_read_write_m0/frame_fifo_write_m0/wr_burst_addr_12" BEL
        "frame_read_write_m0/frame_fifo_write_m0/wr_burst_addr_11" BEL
        "frame_read_write_m0/frame_fifo_write_m0/wr_burst_addr_10" BEL
        "frame_read_write_m0/frame_fifo_write_m0/wr_burst_addr_9" BEL
        "frame_read_write_m0/frame_fifo_write_m0/wr_burst_addr_8" BEL
        "frame_read_write_m0/frame_fifo_write_m0/wr_burst_addr_7" BEL
        "frame_read_write_m0/frame_fifo_write_m0/write_cnt_16" BEL
        "frame_read_write_m0/frame_fifo_write_m0/write_cnt_15" BEL
        "frame_read_write_m0/frame_fifo_write_m0/write_cnt_14" BEL
        "frame_read_write_m0/frame_fifo_write_m0/write_cnt_13" BEL
        "frame_read_write_m0/frame_fifo_write_m0/write_cnt_12" BEL
        "frame_read_write_m0/frame_fifo_write_m0/write_cnt_11" BEL
        "frame_read_write_m0/frame_fifo_write_m0/write_cnt_10" BEL
        "frame_read_write_m0/frame_fifo_write_m0/write_cnt_9" BEL
        "frame_read_write_m0/frame_fifo_write_m0/write_cnt_8" BEL
        "frame_read_write_m0/frame_fifo_write_m0/write_cnt_7" BEL
        "frame_read_write_m0/frame_fifo_write_m0/write_req_d2" BEL
        "frame_read_write_m0/frame_fifo_write_m0/write_req_d1" BEL
        "frame_read_write_m0/frame_fifo_write_m0/write_addr_index_d1_1" BEL
        "frame_read_write_m0/frame_fifo_write_m0/write_addr_index_d1_0" BEL
        "frame_read_write_m0/frame_fifo_write_m0/write_req_d0" BEL
        "frame_read_write_m0/frame_fifo_write_m0/write_req_ack" BEL
        "frame_read_write_m0/frame_fifo_write_m0/wr_burst_req" BEL
        "frame_read_write_m0/frame_fifo_write_m0/write_addr_index_d0_1" BEL
        "frame_read_write_m0/frame_fifo_write_m0/write_addr_index_d0_0" BEL
        "sdram_core_m0/sdram_ref_req" BEL
        "frame_read_write_m0/frame_fifo_read_m0/fifo_aclr" BEL
        "frame_read_write_m0/frame_fifo_read_m0/read_len_latch_9" BEL
        "frame_read_write_m0/frame_fifo_read_m0/rd_burst_len_7" BEL
        "frame_read_write_m0/frame_fifo_write_m0/write_len_latch_9" BEL
        "frame_read_write_m0/frame_fifo_write_m0/wr_burst_len_7" BEL
        "sdram_core_m0/cnt_clk_r_1_1" BEL "sdram_core_m0/sdr_dq_in_0" BEL
        "sdram_core_m0/sdr_dq_in_1" BEL "sdram_core_m0/sdr_dq_in_2" BEL
        "sdram_core_m0/sdr_dq_in_3" BEL "sdram_core_m0/sdr_dq_in_4" BEL
        "sdram_core_m0/sdr_dq_in_5" BEL "sdram_core_m0/sdr_dq_in_6" BEL
        "sdram_core_m0/sdr_dq_in_7" BEL "sdram_core_m0/sdr_dq_in_8" BEL
        "sdram_core_m0/sdr_dq_in_9" BEL "sdram_core_m0/sdr_dq_in_10" BEL
        "sdram_core_m0/sdr_dq_in_11" BEL "sdram_core_m0/sdr_dq_in_12" BEL
        "sdram_core_m0/sdr_dq_in_13" BEL "sdram_core_m0/sdr_dq_in_14" BEL
        "sdram_core_m0/sdr_dq_in_15" BEL "sdram_core_m0/sdr_dq_out_15" BEL
        "sdram_core_m0/sdr_dq_out_14" BEL "sdram_core_m0/sdr_dq_out_13" BEL
        "sdram_core_m0/sdr_dq_out_12" BEL "sdram_core_m0/sdr_dq_out_11" BEL
        "sdram_core_m0/sdr_dq_out_10" BEL "sdram_core_m0/sdr_dq_out_9" BEL
        "sdram_core_m0/sdr_dq_out_8" BEL "sdram_core_m0/sdr_dq_out_7" BEL
        "sdram_core_m0/sdr_dq_out_6" BEL "sdram_core_m0/sdr_dq_out_5" BEL
        "sdram_core_m0/sdr_dq_out_4" BEL "sdram_core_m0/sdr_dq_out_3" BEL
        "sdram_core_m0/sdr_dq_out_2" BEL "sdram_core_m0/sdr_dq_out_1" BEL
        "sdram_core_m0/sdr_dq_out_0" BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/gwas.wsts/ram_full_fb_i"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/RST_FULL_GEN"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/wr_rst_asreg"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/grstd1.grst_full.rst_d3"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/wr_rst_asreg_d2"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/grstd1.grst_full.rst_d2"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/ngwrdrst.grst.wr_rst_reg_1"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/ngwrdrst.grst.wr_rst_reg_0"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/wr_rst_asreg_d1"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/grstd1.grst_full.rst_d1"
        PIN
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.WIDE_PRIM9.ram_pins<26>"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/gwas.gwdc0.wdc/wr_data_count_i_7"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_d2_7"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_d2_6"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_d2_5"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_d2_4"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_d2_3"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_d2_2"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_d1_7"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_d1_6"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_d1_5"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_d1_4"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_d1_3"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_d1_2"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_d1_1"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_d1_0"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_7"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_6"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_5"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_4"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_3"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_2"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_1"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_bin_7"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_bin_6"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_bin_5"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_bin_4"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_bin_3"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_bin_2"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_bin_1"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_bin_0"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_gc_7"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_gc_6"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_gc_5"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_gc_4"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_gc_3"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_gc_2"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_gc_1"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_gc_0"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].wr_stg_inst/Q_reg_7"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].wr_stg_inst/Q_reg_6"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].wr_stg_inst/Q_reg_5"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].wr_stg_inst/Q_reg_4"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].wr_stg_inst/Q_reg_3"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].wr_stg_inst/Q_reg_2"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].wr_stg_inst/Q_reg_1"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].wr_stg_inst/Q_reg_0"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].wr_stg_inst/Q_reg_7"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].wr_stg_inst/Q_reg_6"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].wr_stg_inst/Q_reg_5"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].wr_stg_inst/Q_reg_4"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].wr_stg_inst/Q_reg_3"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].wr_stg_inst/Q_reg_2"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].wr_stg_inst/Q_reg_1"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].wr_stg_inst/Q_reg_0"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/gras.rsts/ram_empty_fb_i"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/rd_rst_asreg"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/rd_rst_asreg_d2"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/ngwrdrst.grst.rd_rst_reg_2"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/ngwrdrst.grst.rd_rst_reg_1"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/ngwrdrst.grst.rd_rst_reg_0"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/rd_rst_asreg_d1"
        PIN
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.WIDE_PRIM9.ram_pins<27>"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/gras.grdc1.rdc/rd_dc_i_7"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_7"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_6"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_5"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_4"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_3"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_2"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_1"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_7"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_6"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_5"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_4"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_3"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_2"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_1"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_0"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_bin_7"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_bin_6"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_bin_5"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_bin_4"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_bin_3"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_bin_2"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_bin_1"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_bin_0"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_gc_7"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_gc_6"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_gc_5"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_gc_4"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_gc_3"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_gc_2"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_gc_1"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_gc_0"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].rd_stg_inst/Q_reg_7"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].rd_stg_inst/Q_reg_6"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].rd_stg_inst/Q_reg_5"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].rd_stg_inst/Q_reg_4"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].rd_stg_inst/Q_reg_3"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].rd_stg_inst/Q_reg_2"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].rd_stg_inst/Q_reg_1"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].rd_stg_inst/Q_reg_0"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].rd_stg_inst/Q_reg_7"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].rd_stg_inst/Q_reg_6"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].rd_stg_inst/Q_reg_5"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].rd_stg_inst/Q_reg_4"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].rd_stg_inst/Q_reg_3"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].rd_stg_inst/Q_reg_2"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].rd_stg_inst/Q_reg_1"
        BEL
        "frame_read_write_m0/write_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].rd_stg_inst/Q_reg_0";
PIN
        frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.WIDE_PRIM9.ram_pins<27>
        = BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.WIDE_PRIM9.ram"
        PINNAME CLKBRDCLK;
TIMEGRP video_pll_m0_clkfx = BEL "video_pll_m0/clkout1_buf" BEL
        "video_timing_data_m0/vout_data_r_15" BEL
        "video_timing_data_m0/vout_data_r_14" BEL
        "video_timing_data_m0/vout_data_r_13" BEL
        "video_timing_data_m0/vout_data_r_12" BEL
        "video_timing_data_m0/vout_data_r_11" BEL
        "video_timing_data_m0/vout_data_r_10" BEL
        "video_timing_data_m0/vout_data_r_9" BEL
        "video_timing_data_m0/vout_data_r_8" BEL
        "video_timing_data_m0/vout_data_r_7" BEL
        "video_timing_data_m0/vout_data_r_6" BEL
        "video_timing_data_m0/vout_data_r_5" BEL
        "video_timing_data_m0/vout_data_r_4" BEL
        "video_timing_data_m0/vout_data_r_3" BEL
        "video_timing_data_m0/vout_data_r_2" BEL
        "video_timing_data_m0/vout_data_r_1" BEL
        "video_timing_data_m0/vout_data_r_0" BEL
        "video_timing_data_m0/video_de_d1" BEL
        "video_timing_data_m0/video_vs_d1" BEL
        "video_timing_data_m0/video_hs_d1" BEL
        "video_timing_data_m0/video_hs_d0" BEL
        "video_timing_data_m0/video_de_d0" BEL
        "video_timing_data_m0/video_vs_d0" BEL
        "video_timing_data_m0/color_bar_m0/h_cnt_11" BEL
        "video_timing_data_m0/color_bar_m0/h_cnt_10" BEL
        "video_timing_data_m0/color_bar_m0/h_cnt_9" BEL
        "video_timing_data_m0/color_bar_m0/h_cnt_8" BEL
        "video_timing_data_m0/color_bar_m0/h_cnt_7" BEL
        "video_timing_data_m0/color_bar_m0/h_cnt_6" BEL
        "video_timing_data_m0/color_bar_m0/h_cnt_5" BEL
        "video_timing_data_m0/color_bar_m0/h_cnt_4" BEL
        "video_timing_data_m0/color_bar_m0/h_cnt_3" BEL
        "video_timing_data_m0/color_bar_m0/h_cnt_2" BEL
        "video_timing_data_m0/color_bar_m0/h_cnt_1" BEL
        "video_timing_data_m0/color_bar_m0/h_cnt_0" BEL
        "video_timing_data_m0/color_bar_m0/v_cnt_11" BEL
        "video_timing_data_m0/color_bar_m0/v_cnt_10" BEL
        "video_timing_data_m0/color_bar_m0/v_cnt_9" BEL
        "video_timing_data_m0/color_bar_m0/v_cnt_8" BEL
        "video_timing_data_m0/color_bar_m0/v_cnt_7" BEL
        "video_timing_data_m0/color_bar_m0/v_cnt_6" BEL
        "video_timing_data_m0/color_bar_m0/v_cnt_5" BEL
        "video_timing_data_m0/color_bar_m0/v_cnt_4" BEL
        "video_timing_data_m0/color_bar_m0/v_cnt_3" BEL
        "video_timing_data_m0/color_bar_m0/v_cnt_2" BEL
        "video_timing_data_m0/color_bar_m0/v_cnt_1" BEL
        "video_timing_data_m0/color_bar_m0/v_cnt_0" BEL
        "video_timing_data_m0/color_bar_m0/hs_reg_d0" BEL
        "video_timing_data_m0/color_bar_m0/vs_reg_d0" BEL
        "video_timing_data_m0/color_bar_m0/video_active_d0" BEL
        "video_timing_data_m0/read_req" BEL
        "video_timing_data_m0/color_bar_m0/vs_reg" BEL
        "video_timing_data_m0/color_bar_m0/hs_reg" BEL
        "video_timing_data_m0/color_bar_m0/v_active" BEL
        "video_timing_data_m0/color_bar_m0/h_active" BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/gras.rsts/ram_empty_fb_i"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/rd_rst_asreg"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/rd_rst_asreg_d2"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/ngwrdrst.grst.rd_rst_reg_2"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/ngwrdrst.grst.rd_rst_reg_1"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/ngwrdrst.grst.rd_rst_reg_0"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/rd_rst_asreg_d1"
        PIN
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.WIDE_PRIM9.ram_pins<27>"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_7"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_6"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_5"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_4"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_3"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_2"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_1"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_7"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_6"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_5"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_4"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_3"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_2"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_1"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_0"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_bin_7"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_bin_6"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_bin_5"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_bin_4"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_bin_3"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_bin_2"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_bin_1"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_bin_0"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_gc_7"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_gc_6"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_gc_5"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_gc_4"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_gc_3"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_gc_2"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_gc_1"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_gc_0"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].rd_stg_inst/Q_reg_7"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].rd_stg_inst/Q_reg_6"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].rd_stg_inst/Q_reg_5"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].rd_stg_inst/Q_reg_4"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].rd_stg_inst/Q_reg_3"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].rd_stg_inst/Q_reg_2"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].rd_stg_inst/Q_reg_1"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].rd_stg_inst/Q_reg_0"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].rd_stg_inst/Q_reg_7"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].rd_stg_inst/Q_reg_6"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].rd_stg_inst/Q_reg_5"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].rd_stg_inst/Q_reg_4"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].rd_stg_inst/Q_reg_3"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].rd_stg_inst/Q_reg_2"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].rd_stg_inst/Q_reg_1"
        BEL
        "frame_read_write_m0/read_buf/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].rd_stg_inst/Q_reg_0"
        BEL "lcd_dclk";
PIN sys_pll_m0/pll_base_inst/PLL_ADV_pins<2> = BEL
        "sys_pll_m0/pll_base_inst/PLL_ADV" PINNAME CLKIN1;
PIN SP6_BUFIO_INSERT_ML_BUFIO2_0_pins<0> = BEL "SP6_BUFIO_INSERT_ML_BUFIO2_0"
        PINNAME DIVCLK;
PIN video_pll_m0/dcm_sp_inst_pins<3> = BEL "video_pll_m0/dcm_sp_inst" PINNAME
        CLKIN;
TIMEGRP sys_clk_pin = BEL "i2c_config_m0/lut_index_9" BEL
        "i2c_config_m0/lut_index_8" BEL "i2c_config_m0/lut_index_7" BEL
        "i2c_config_m0/lut_index_6" BEL "i2c_config_m0/lut_index_5" BEL
        "i2c_config_m0/lut_index_4" BEL "i2c_config_m0/lut_index_3" BEL
        "i2c_config_m0/lut_index_2" BEL "i2c_config_m0/lut_index_1" BEL
        "i2c_config_m0/lut_index_0" BEL "i2c_config_m0/state_FSM_FFd1" BEL
        "i2c_config_m0/state_FSM_FFd2" BEL
        "i2c_config_m0/i2c_master_top_m0/state_FSM_FFd2" BEL
        "i2c_config_m0/i2c_master_top_m0/state_FSM_FFd1" BEL
        "i2c_config_m0/i2c_master_top_m0/state_FSM_FFd4" BEL
        "i2c_config_m0/i2c_master_top_m0/state_FSM_FFd5" BEL
        "i2c_config_m0/i2c_master_top_m0/state_FSM_FFd3" BEL
        "i2c_config_m0/i2c_master_top_m0/state_FSM_FFd6" BEL
        "i2c_config_m0/i2c_master_top_m0/state_FSM_FFd7" BEL
        "i2c_config_m0/i2c_master_top_m0/state_FSM_FFd9" BEL
        "i2c_config_m0/i2c_master_top_m0/state_FSM_FFd8" BEL
        "i2c_config_m0/i2c_master_top_m0/txr_7" BEL
        "i2c_config_m0/i2c_master_top_m0/txr_6" BEL
        "i2c_config_m0/i2c_master_top_m0/txr_5" BEL
        "i2c_config_m0/i2c_master_top_m0/txr_4" BEL
        "i2c_config_m0/i2c_master_top_m0/txr_3" BEL
        "i2c_config_m0/i2c_master_top_m0/txr_2" BEL
        "i2c_config_m0/i2c_master_top_m0/txr_1" BEL
        "i2c_config_m0/i2c_master_top_m0/txr_0" BEL
        "i2c_config_m0/i2c_master_top_m0/ack_in" BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/c_state_FSM_FFd2" BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/c_state_FSM_FFd3" BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/c_state_FSM_FFd1" BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/sr_7" BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/sr_6" BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/sr_5" BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/sr_4" BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/sr_3" BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/sr_2" BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/sr_1" BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/sr_0" BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/cmd_ack" BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/shift" BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/core_txd" BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/ld" BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/core_cmd_3" BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/core_cmd_2" BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/core_cmd_1" BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/core_cmd_0" BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/c_state_FSM_FFd2"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/c_state_FSM_FFd3"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/c_state_FSM_FFd1"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/c_state_FSM_FFd5"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/c_state_FSM_FFd6"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/c_state_FSM_FFd4"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/c_state_FSM_FFd7"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/c_state_FSM_FFd8"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/c_state_FSM_FFd9"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/c_state_FSM_FFd10"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/c_state_FSM_FFd12"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/c_state_FSM_FFd13"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/c_state_FSM_FFd11"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/c_state_FSM_FFd15"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/c_state_FSM_FFd16"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/c_state_FSM_FFd14"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/c_state_FSM_FFd18"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/c_state_FSM_FFd17"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/cnt_7"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/cnt_6"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/cnt_8"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/cnt_4"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/cnt_3"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/cnt_5"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/cnt_2"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/cnt_1"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/cnt_0"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/dscl_oen"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/scl_oen"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/fSDA_2"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/fSDA_1"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/fSDA_0"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/sda_oen"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/fSCL_2"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/fSCL_1"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/fSCL_0"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/dSDA"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/dSCL"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/sSDA"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/sSCL"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/sto_condition"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/al"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/cSDA_1"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/cSDA_0"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/cSCL_1"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/cSCL_0"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/slave_wait"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/clk_en"
        BEL "i2c_config_m0/i2c_master_top_m0/byte_controller/dcnt_2" BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/dcnt_1" BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/dcnt_0" BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/filter_cnt_6"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/filter_cnt_5"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/filter_cnt_3"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/filter_cnt_2"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/filter_cnt_4"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/filter_cnt_0"
        BEL "i2c_config_m0/i2c_master_top_m0/stop" BEL
        "i2c_config_m0/i2c_master_top_m0/start" BEL
        "i2c_config_m0/i2c_master_top_m0/write" BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/ack_out" BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/cmd_stop"
        BEL "i2c_config_m0/i2c_write_req" BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/filter_cnt_1"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/cmd_ack"
        BEL
        "i2c_config_m0/i2c_master_top_m0/byte_controller/bit_controller/dout"
        BEL "clk_bufg_BUFG" PIN "sys_pll_m0/pll_base_inst/PLL_ADV_pins<2>" PIN
        "SP6_BUFIO_INSERT_ML_BUFIO2_0_pins<0>" PIN
        "video_pll_m0/dcm_sp_inst_pins<3>";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 50 MHz HIGH 50%;
TS_video_pll_m0_clkfx = PERIOD TIMEGRP "video_pll_m0_clkfx" TS_sys_clk_pin *
        0.18 HIGH 50%;
TS_sys_pll_m0_clkout2 = PERIOD TIMEGRP "sys_pll_m0_clkout2" TS_sys_clk_pin * 2
        PHASE 2.5 ns HIGH 50%;
SCHEMATIC END;

