NET "clock" LOC = P22;
NET "reset" LOC = P27;
NET "sel[0]"  LOC = P101;
NET "sel[1]"  LOC = P102;
NET "sel[2]"  LOC = P99;
NET "sel[3]"  LOC = P100;
NET "sel[4]"  LOC = P84;
NET "sel[5]"  LOC = P85;
NET "sel[6]"  LOC = P82;
NET "sel[7]"  LOC = P83;
NET "data[0]"  LOC = P97;
NET "data[1]"  LOC = P98;
NET "data[2]"  LOC = P94;
NET "data[3]"  LOC = P95;
NET "data[4]"  LOC = P92;
NET "data[5]"  LOC = P93;
NET "data[6]"  LOC = P87;
NET "data[7]"  LOC = P88;