NET "clock" LOC = P22;
NET "reset" LOC = P27;
NET "r[4]" LOC = P98;
NET "r[3]" LOC = P97;
NET "r[2]" LOC = P95;
NET "r[1]" LOC = P94;
NET "r[0]" LOC = P93;
NET "g[5]" LOC = P92;
NET "g[4]" LOC = P88;
NET "g[3]" LOC = P87;
NET "g[2]" LOC = P85;
NET "g[1]" LOC = P84;
NET "g[0]" LOC = P83;
NET "b[4]" LOC = P82;
NET "b[3]" LOC = P81;
NET "b[2]" LOC = P80;
NET "b[1]" LOC = P79;
NET "b[0]" LOC = P78;
NET "hsync" LOC = P74;
NET "vsync" LOC = P75;