//! **************************************************************************
// Written by: Map P.20131013 on Thu Mar 21 14:01:42 2024
//! **************************************************************************

SCHEMATIC START;
COMP "b<0>" LOCATE = SITE "P7" LEVEL 1;
COMP "b<1>" LOCATE = SITE "M7" LEVEL 1;
COMP "b<2>" LOCATE = SITE "P8" LEVEL 1;
COMP "b<3>" LOCATE = SITE "N8" LEVEL 1;
COMP "b<4>" LOCATE = SITE "L7" LEVEL 1;
COMP "g<0>" LOCATE = SITE "M9" LEVEL 1;
COMP "g<1>" LOCATE = SITE "N9" LEVEL 1;
COMP "g<2>" LOCATE = SITE "P9" LEVEL 1;
COMP "g<3>" LOCATE = SITE "L10" LEVEL 1;
COMP "g<4>" LOCATE = SITE "M10" LEVEL 1;
COMP "g<5>" LOCATE = SITE "P11" LEVEL 1;
COMP "r<0>" LOCATE = SITE "M11" LEVEL 1;
COMP "r<1>" LOCATE = SITE "M12" LEVEL 1;
COMP "r<2>" LOCATE = SITE "L12" LEVEL 1;
COMP "r<3>" LOCATE = SITE "N14" LEVEL 1;
COMP "r<4>" LOCATE = SITE "M13" LEVEL 1;
COMP "sdram_cs_n" LOCATE = SITE "G1" LEVEL 1;
COMP "sdram_we_n" LOCATE = SITE "E1" LEVEL 1;
COMP "clk_50m" LOCATE = SITE "T8" LEVEL 1;
COMP "sdram_ba<0>" LOCATE = SITE "G6" LEVEL 1;
COMP "sdram_ba<1>" LOCATE = SITE "J6" LEVEL 1;
COMP "sdram_dq<0>" LOCATE = SITE "A3" LEVEL 1;
COMP "sdram_dq<1>" LOCATE = SITE "B3" LEVEL 1;
COMP "sdram_dq<2>" LOCATE = SITE "A2" LEVEL 1;
COMP "sdram_dq<3>" LOCATE = SITE "B2" LEVEL 1;
COMP "sdram_dq<4>" LOCATE = SITE "B1" LEVEL 1;
COMP "sdram_dq<5>" LOCATE = SITE "C2" LEVEL 1;
COMP "sdram_dq<6>" LOCATE = SITE "C1" LEVEL 1;
COMP "sdram_dq<7>" LOCATE = SITE "D1" LEVEL 1;
COMP "sdram_dq<8>" LOCATE = SITE "H5" LEVEL 1;
COMP "sdram_dq<9>" LOCATE = SITE "G5" LEVEL 1;
COMP "hsync" LOCATE = SITE "L13" LEVEL 1;
COMP "rst_n" LOCATE = SITE "L3" LEVEL 1;
COMP "sdram_cas_n" LOCATE = SITE "F2" LEVEL 1;
COMP "vsync" LOCATE = SITE "M14" LEVEL 1;
COMP "sdram_ras_n" LOCATE = SITE "F1" LEVEL 1;
COMP "sdram_addr<0>" LOCATE = SITE "J3" LEVEL 1;
COMP "sdram_addr<1>" LOCATE = SITE "J4" LEVEL 1;
COMP "sdram_addr<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "sdram_addr<3>" LOCATE = SITE "K5" LEVEL 1;
COMP "sdram_addr<4>" LOCATE = SITE "P1" LEVEL 1;
COMP "sdram_addr<5>" LOCATE = SITE "N1" LEVEL 1;
COMP "sdram_addr<6>" LOCATE = SITE "M2" LEVEL 1;
COMP "sdram_addr<7>" LOCATE = SITE "M1" LEVEL 1;
COMP "sdram_addr<8>" LOCATE = SITE "L1" LEVEL 1;
COMP "sdram_addr<9>" LOCATE = SITE "K2" LEVEL 1;
COMP "sdram_cke" LOCATE = SITE "H2" LEVEL 1;
COMP "sdram_clk" LOCATE = SITE "H4" LEVEL 1;
COMP "key1_n" LOCATE = SITE "C3" LEVEL 1;
COMP "sdram_dq<10>" LOCATE = SITE "H3" LEVEL 1;
COMP "sdram_dq<11>" LOCATE = SITE "F6" LEVEL 1;
COMP "sdram_dq<12>" LOCATE = SITE "G3" LEVEL 1;
COMP "sdram_dq<13>" LOCATE = SITE "F5" LEVEL 1;
COMP "sdram_dq<14>" LOCATE = SITE "F3" LEVEL 1;
COMP "sdram_dq<15>" LOCATE = SITE "F4" LEVEL 1;
COMP "sdram_dqm<0>" LOCATE = SITE "E2" LEVEL 1;
COMP "sdram_dqm<1>" LOCATE = SITE "H1" LEVEL 1;
COMP "sdram_addr<10>" LOCATE = SITE "K6" LEVEL 1;
COMP "sdram_addr<11>" LOCATE = SITE "K1" LEVEL 1;
COMP "sdram_addr<12>" LOCATE = SITE "J1" LEVEL 1;
PIN pll_0/clkout1_buf_pin<1> = BEL "pll_0/clkout1_buf" PINNAME O;
PIN "pll_0/clkout1_buf_pin<1>" CLOCK_DEDICATED_ROUTE = FALSE;
TIMEGRP pll_0_clkout1 = BEL "commit" BEL "pll_0/clkout2_buf" BEL
        "sdram_core_0/cnt_200us_14" BEL "sdram_core_0/cnt_200us_13" BEL
        "sdram_core_0/cnt_200us_12" BEL "sdram_core_0/cnt_200us_11" BEL
        "sdram_core_0/cnt_200us_10" BEL "sdram_core_0/cnt_200us_9" BEL
        "sdram_core_0/cnt_200us_8" BEL "sdram_core_0/cnt_200us_7" BEL
        "sdram_core_0/cnt_200us_6" BEL "sdram_core_0/cnt_200us_5" BEL
        "sdram_core_0/cnt_200us_4" BEL "sdram_core_0/cnt_200us_3" BEL
        "sdram_core_0/cnt_200us_2" BEL "sdram_core_0/cnt_200us_1" BEL
        "sdram_core_0/cnt_200us_0" BEL "sdram_core_0/state_FSM_FFd2" BEL
        "sdram_core_0/state_FSM_FFd3" BEL "sdram_core_0/state_FSM_FFd1" BEL
        "sdram_core_0/state_FSM_FFd4" BEL "sdram_core_0/state_FSM_FFd5" BEL
        "sdram_core_0/cnt_clk_r_9" BEL "sdram_core_0/cnt_clk_r_8" BEL
        "sdram_core_0/cnt_clk_r_7" BEL "sdram_core_0/cnt_clk_r_6" BEL
        "sdram_core_0/cnt_clk_r_5" BEL "sdram_core_0/cnt_clk_r_4" BEL
        "sdram_core_0/cnt_clk_r_3" BEL "sdram_core_0/cnt_clk_r_2" BEL
        "sdram_core_0/cnt_clk_r_1" BEL "sdram_core_0/cnt_clk_r_0" BEL
        "sdram_core_0/cnt_7p5us_10" BEL "sdram_core_0/cnt_7p5us_9" BEL
        "sdram_core_0/cnt_7p5us_8" BEL "sdram_core_0/cnt_7p5us_7" BEL
        "sdram_core_0/cnt_7p5us_6" BEL "sdram_core_0/cnt_7p5us_5" BEL
        "sdram_core_0/cnt_7p5us_4" BEL "sdram_core_0/cnt_7p5us_3" BEL
        "sdram_core_0/cnt_7p5us_2" BEL "sdram_core_0/cnt_7p5us_1" BEL
        "sdram_core_0/cnt_7p5us_0" BEL "sdram_core_0/sdram_addr_r_12" BEL
        "sdram_core_0/sdram_addr_r_11" BEL "sdram_core_0/sdram_addr_r_10" BEL
        "sdram_core_0/sdram_addr_r_9" BEL "sdram_core_0/sdram_addr_r_8" BEL
        "sdram_core_0/sdram_addr_r_7" BEL "sdram_core_0/sdram_addr_r_6" BEL
        "sdram_core_0/sdram_addr_r_5" BEL "sdram_core_0/sdram_addr_r_4" BEL
        "sdram_core_0/sdram_addr_r_3" BEL "sdram_core_0/sdram_addr_r_2" BEL
        "sdram_core_0/sdram_addr_r_1" BEL "sdram_core_0/sdram_addr_r_0" BEL
        "sdram_core_0/sdram_ba_r_1" BEL "sdram_core_0/sdram_ba_r_0" BEL
        "sdram_core_0/we_n_r" BEL "sdram_core_0/ras_n_r" BEL
        "sdram_core_0/cas_n_r" BEL "sdram_core_0/rd_burst_data_valid_d1" BEL
        "sdram_core_0/wr_burst_data_req_d1" BEL "sdram_core_0/read_flag" BEL
        "sdram_core_0/wr_burst_data_req_d0" BEL
        "sdram_core_0/rd_burst_data_valid_d0" BEL "sdram_core_0/sdr_dq_oe" BEL
        "du_0/state_FSM_FFd1" BEL "du_0/dr_0/state_FSM_FFd1" BEL
        "du_0/dr_0/done_r" BEL "du_0/dr_0/delta_y_6" BEL "du_0/dr_0/delta_y_5"
        BEL "du_0/dr_0/delta_y_4" BEL "du_0/dr_0/delta_y_3" BEL
        "du_0/dr_0/delta_y_2" BEL "du_0/dr_0/delta_y_1" BEL
        "du_0/dr_0/delta_y_0" BEL "du_0/dr_0/delta_x_6" BEL
        "du_0/dr_0/delta_x_5" BEL "du_0/dr_0/delta_x_4" BEL
        "du_0/dr_0/delta_x_3" BEL "du_0/dr_0/delta_x_2" BEL
        "du_0/dr_0/delta_x_1" BEL "du_0/dr_0/delta_x_0" BEL
        "frame_fifo_read_m0/state_FSM_FFd2" BEL
        "frame_fifo_read_m0/state_FSM_FFd3" BEL
        "frame_fifo_read_m0/state_FSM_FFd1" BEL
        "frame_fifo_read_m0/rd_burst_addr_23" BEL
        "frame_fifo_read_m0/rd_burst_addr_22" BEL
        "frame_fifo_read_m0/rd_burst_addr_21" BEL
        "frame_fifo_read_m0/rd_burst_addr_20" BEL
        "frame_fifo_read_m0/rd_burst_addr_19" BEL
        "frame_fifo_read_m0/rd_burst_addr_18" BEL
        "frame_fifo_read_m0/rd_burst_addr_17" BEL
        "frame_fifo_read_m0/rd_burst_addr_16" BEL
        "frame_fifo_read_m0/rd_burst_addr_15" BEL
        "frame_fifo_read_m0/rd_burst_addr_14" BEL
        "frame_fifo_read_m0/rd_burst_addr_13" BEL
        "frame_fifo_read_m0/rd_burst_addr_12" BEL
        "frame_fifo_read_m0/rd_burst_addr_11" BEL
        "frame_fifo_read_m0/rd_burst_addr_10" BEL
        "frame_fifo_read_m0/rd_burst_addr_9" BEL
        "frame_fifo_read_m0/rd_burst_addr_8" BEL
        "frame_fifo_read_m0/rd_burst_addr_7" BEL
        "frame_fifo_read_m0/read_cnt_23" BEL "frame_fifo_read_m0/read_cnt_22"
        BEL "frame_fifo_read_m0/read_cnt_21" BEL
        "frame_fifo_read_m0/read_cnt_20" BEL "frame_fifo_read_m0/read_cnt_19"
        BEL "frame_fifo_read_m0/read_cnt_18" BEL
        "frame_fifo_read_m0/read_cnt_17" BEL "frame_fifo_read_m0/read_cnt_16"
        BEL "frame_fifo_read_m0/read_cnt_15" BEL
        "frame_fifo_read_m0/read_cnt_14" BEL "frame_fifo_read_m0/read_cnt_13"
        BEL "frame_fifo_read_m0/read_cnt_12" BEL
        "frame_fifo_read_m0/read_cnt_11" BEL "frame_fifo_read_m0/read_cnt_10"
        BEL "frame_fifo_read_m0/read_cnt_9" BEL
        "frame_fifo_read_m0/read_cnt_8" BEL "frame_fifo_read_m0/read_cnt_7"
        BEL "frame_fifo_read_m0/read_req_d2" BEL
        "frame_fifo_read_m0/read_len_d1_12" BEL
        "frame_fifo_read_m0/read_req_d1" BEL "frame_fifo_read_m0/read_len_d0"
        BEL "frame_fifo_read_m0/read_req_d0" BEL
        "frame_fifo_read_m0/rd_burst_req" BEL "sdram_core_0/sdram_ref_req" BEL
        "du_0/command_r" BEL "frame_fifo_read_m0/fifo_aclr" BEL
        "frame_fifo_read_m0/read_len_latch_12" BEL
        "frame_fifo_read_m0/rd_burst_len_7" BEL "du_0/command_r_1" BEL
        "sdram_core_0/sdr_dq_out_11" BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/gwas.wsts/ram_full_fb_i"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/RST_FULL_GEN"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/wr_rst_asreg"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/grstd1.grst_full.rst_d3"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/wr_rst_asreg_d2"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/grstd1.grst_full.rst_d2"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/ngwrdrst.grst.wr_rst_reg_1"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/ngwrdrst.grst.wr_rst_reg_0"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/wr_rst_asreg_d1"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/grstd1.grst_full.rst_d1"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/gwas.gwdc0.wdc/wr_data_count_i_8"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/gwas.gwdc0.wdc/wr_data_count_i_7"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_d2_8"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_d2_7"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_d2_6"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_d2_5"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_d2_4"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_d2_3"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_d2_2"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_d1_8"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_d1_7"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_d1_6"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_d1_5"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_d1_4"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_d1_3"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_d1_2"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_d1_1"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_d1_0"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_8"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_7"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_6"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_5"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_4"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_3"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_2"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_1"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_bin_8"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_bin_7"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_bin_6"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_bin_5"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_bin_4"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_bin_3"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_bin_2"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_bin_1"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_bin_0"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_gc_8"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_gc_7"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_gc_6"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_gc_5"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_gc_4"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_gc_3"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_gc_2"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_gc_1"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_gc_0"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].wr_stg_inst/Q_reg_8"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].wr_stg_inst/Q_reg_7"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].wr_stg_inst/Q_reg_6"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].wr_stg_inst/Q_reg_5"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].wr_stg_inst/Q_reg_4"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].wr_stg_inst/Q_reg_3"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].wr_stg_inst/Q_reg_2"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].wr_stg_inst/Q_reg_1"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].wr_stg_inst/Q_reg_0"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].wr_stg_inst/Q_reg_8"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].wr_stg_inst/Q_reg_7"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].wr_stg_inst/Q_reg_6"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].wr_stg_inst/Q_reg_5"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].wr_stg_inst/Q_reg_4"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].wr_stg_inst/Q_reg_3"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].wr_stg_inst/Q_reg_2"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].wr_stg_inst/Q_reg_1"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].wr_stg_inst/Q_reg_0";
TIMEGRP pll_0_clkout2 = BEL "pll_0/clkout3_buf" BEL "vtd_0/video_de_d1" BEL
        "vtd_0/video_vs_d1" BEL "vtd_0/video_hs_d1" BEL "vtd_0/video_hs_d0"
        BEL "vtd_0/video_de_d0" BEL "vtd_0/video_vs_d0" BEL
        "vtd_0/color_bar_m0/h_cnt_11" BEL "vtd_0/color_bar_m0/h_cnt_10" BEL
        "vtd_0/color_bar_m0/h_cnt_9" BEL "vtd_0/color_bar_m0/h_cnt_8" BEL
        "vtd_0/color_bar_m0/h_cnt_7" BEL "vtd_0/color_bar_m0/h_cnt_6" BEL
        "vtd_0/color_bar_m0/h_cnt_5" BEL "vtd_0/color_bar_m0/h_cnt_4" BEL
        "vtd_0/color_bar_m0/h_cnt_3" BEL "vtd_0/color_bar_m0/h_cnt_2" BEL
        "vtd_0/color_bar_m0/h_cnt_1" BEL "vtd_0/color_bar_m0/h_cnt_0" BEL
        "vtd_0/color_bar_m0/v_cnt_11" BEL "vtd_0/color_bar_m0/v_cnt_10" BEL
        "vtd_0/color_bar_m0/v_cnt_9" BEL "vtd_0/color_bar_m0/v_cnt_8" BEL
        "vtd_0/color_bar_m0/v_cnt_7" BEL "vtd_0/color_bar_m0/v_cnt_6" BEL
        "vtd_0/color_bar_m0/v_cnt_5" BEL "vtd_0/color_bar_m0/v_cnt_4" BEL
        "vtd_0/color_bar_m0/v_cnt_3" BEL "vtd_0/color_bar_m0/v_cnt_2" BEL
        "vtd_0/color_bar_m0/v_cnt_1" BEL "vtd_0/color_bar_m0/v_cnt_0" BEL
        "vtd_0/color_bar_m0/hs_reg_d0" BEL "vtd_0/color_bar_m0/vs_reg_d0" BEL
        "vtd_0/color_bar_m0/video_active_d0" BEL "vtd_0/read_req" BEL
        "vtd_0/color_bar_m0/vs_reg" BEL "vtd_0/color_bar_m0/hs_reg" BEL
        "vtd_0/color_bar_m0/v_active" BEL "vtd_0/color_bar_m0/h_active" BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/gras.rsts/ram_empty_fb_i"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/rd_rst_asreg"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/rd_rst_asreg_d2"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/ngwrdrst.grst.rd_rst_reg_2"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/ngwrdrst.grst.rd_rst_reg_1"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/rd_rst_asreg_d1"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_8"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_7"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_6"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_5"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_4"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_3"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_2"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_1"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_0"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_8"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_7"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_6"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_5"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_4"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_3"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_2"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_1"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_bin_8"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_bin_7"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_bin_6"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_bin_5"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_bin_4"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_bin_3"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_bin_2"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_bin_1"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_bin_0"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_gc_8"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_gc_7"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_gc_6"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_gc_5"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_gc_4"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_gc_3"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_gc_2"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_gc_1"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_gc_0"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].rd_stg_inst/Q_reg_8"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].rd_stg_inst/Q_reg_7"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].rd_stg_inst/Q_reg_6"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].rd_stg_inst/Q_reg_5"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].rd_stg_inst/Q_reg_4"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].rd_stg_inst/Q_reg_3"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].rd_stg_inst/Q_reg_2"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].rd_stg_inst/Q_reg_1"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].rd_stg_inst/Q_reg_0"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].rd_stg_inst/Q_reg_8"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].rd_stg_inst/Q_reg_7"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].rd_stg_inst/Q_reg_6"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].rd_stg_inst/Q_reg_5"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].rd_stg_inst/Q_reg_4"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].rd_stg_inst/Q_reg_3"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].rd_stg_inst/Q_reg_2"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].rd_stg_inst/Q_reg_1"
        BEL
        "fifo_i0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].rd_stg_inst/Q_reg_0";
PIN SP6_BUFIO2_INSERT_PLL1_ML_BUFIO2_0_pins<0> = BEL
        "SP6_BUFIO2_INSERT_PLL1_ML_BUFIO2_0" PINNAME DIVCLK;
PIN pll_0/pll_base_inst/PLL_ADV_pins<2> = BEL "pll_0/pll_base_inst/PLL_ADV"
        PINNAME CLKIN1;
TIMEGRP sys_clk_pin = PIN "SP6_BUFIO2_INSERT_PLL1_ML_BUFIO2_0_pins<0>" PIN
        "pll_0/pll_base_inst/PLL_ADV_pins<2>";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 50 MHz HIGH 50%;
TS_pll_0_clkout1 = PERIOD TIMEGRP "pll_0_clkout1" TS_sys_clk_pin * 2 PHASE 2.5
        ns HIGH 50%;
TS_pll_0_clkout2 = PERIOD TIMEGRP "pll_0_clkout2" TS_sys_clk_pin * 0.5 HIGH
        50%;
SCHEMATIC END;

