NET "clock_50m" LOC = P22;
NET "reset" LOC = P27;
NET "led0" 	LOC = P29;
NET "sel[0]"  LOC = P101;
NET "sel[1]"  LOC = P102;
NET "sel[2]"  LOC = P99;
NET "sel[3]"  LOC = P100;
NET "sel[4]"  LOC = P84;
NET "sel[5]"  LOC = P85;
NET "sel[6]"  LOC = P82;
NET "sel[7]"  LOC = P83;
NET "data[0]"  LOC = P97;
NET "data[1]"  LOC = P98;
NET "data[2]"  LOC = P94;
NET "data[3]"  LOC = P95;
NET "data[4]"  LOC = P92;
NET "data[5]"  LOC = P93;
NET "data[6]"  LOC = P87;
NET "data[7]"  LOC = P88;

NET "sdram_data[0]" LOC = P114;
NET "sdram_data[1]" LOC = P115;
NET "sdram_data[2]" LOC = P117;
NET "sdram_data[3]" LOC = P116;
NET "sdram_data[4]" LOC = P119;
NET "sdram_data[5]" LOC = P118;
NET "sdram_data[6]" LOC = P121;
NET "sdram_data[7]" LOC = P120;
NET "sdram_data[8]" LOC = P56;
NET "sdram_data[9]" LOC = P57;
NET "sdram_data[10]" LOC = P58;
NET "sdram_data[11]" LOC = P59;
NET "sdram_data[12]" LOC = P61;
NET "sdram_data[13]" LOC = P62;
NET "sdram_data[14]" LOC = P66;
NET "sdram_data[15]" LOC = P67;

NET "sdram_clk" LOC = P51;
NET "sdram_cke" LOC = P50;
NET "sdram_cs_n" LOC = P132;
NET "sdram_ras_n" LOC = P126;
NET "sdram_cas_n" LOC = P127;
NET "sdram_we_n" LOC = P123;

NET "sdram_ba[0]" LOC = P131;
NET "sdram_ba[1]" LOC = P134;

NET "sdram_addr[0]" LOC = P138;
NET "sdram_addr[1]" LOC = P137;
NET "sdram_addr[2]" LOC = P140;
NET "sdram_addr[3]" LOC = P139;
NET "sdram_addr[4]" LOC = P40;
NET "sdram_addr[5]" LOC = P41;
NET "sdram_addr[6]" LOC = P43;
NET "sdram_addr[7]" LOC = P44;
NET "sdram_addr[8]" LOC = P45;
NET "sdram_addr[9]" LOC = P46;
NET "sdram_addr[10]" LOC = P133;
NET "sdram_addr[11]" LOC = P47;
NET "sdram_addr[12]" LOC = P48;