NET "clk" LOC = T8 | TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50000 kHz;

##
NET rst_n                 LOC = L3 | IOSTANDARD = "LVCMOS33"; ## reset pushbutton
##
##################################################################################

NET key1             LOC = C3 | IOSTANDARD = "LVCMOS33";       ## KEY1
#SDRAM pin define
##################################################################################
NET sdram_clk              LOC =  H4 | IOSTANDARD = "LVCMOS33" | SLEW=FAST ;        ## SDRAM CLOCK
NET sdram_cke              LOC =  H2 | IOSTANDARD = "LVCMOS33" | SLEW=FAST ;        ## SDRAM CKE
NET sdram_cs_n             LOC =  G1 | IOSTANDARD = "LVCMOS33" | SLEW=FAST ;        ## SDRAM CS
NET sdram_we_n             LOC =  E1 | IOSTANDARD = "LVCMOS33" | SLEW=FAST ;        ## SDRAM NWE
NET sdram_cas_n            LOC =  F2 | IOSTANDARD = "LVCMOS33" | SLEW=FAST ;        ## SDRAM CAS
NET sdram_ras_n            LOC =  F1 | IOSTANDARD = "LVCMOS33" | SLEW=FAST ;        ## SDRAM RAS
 
NET sdram_dqm<0>           LOC =  E2 | IOSTANDARD = "LVCMOS33" | SLEW=FAST ;        ## SDRAM DQM0
NET sdram_dqm<1>           LOC =  H1 | IOSTANDARD = "LVCMOS33" | SLEW=FAST ;        ## SDRAM DQM1

NET sdram_ba<0>            LOC =  G6 | IOSTANDARD = "LVCMOS33" | SLEW=FAST ;        ## SDRAM BA0
NET sdram_ba<1>            LOC =  J6 | IOSTANDARD = "LVCMOS33" | SLEW=FAST ;        ## SDRAM BA1

NET sdram_addr<0>          LOC =  J3 | IOSTANDARD = "LVCMOS33" | SLEW=FAST ;        ## SDRAM ADDR0
NET sdram_addr<1>          LOC =  J4 | IOSTANDARD = "LVCMOS33" | SLEW=FAST ;        ## SDRAM ADDR1
NET sdram_addr<2>          LOC =  K3 | IOSTANDARD = "LVCMOS33" | SLEW=FAST ;        ## SDRAM ADDR2
NET sdram_addr<3>          LOC =  K5 | IOSTANDARD = "LVCMOS33" | SLEW=FAST ;        ## SDRAM ADDR3
NET sdram_addr<4>          LOC =  P1 | IOSTANDARD = "LVCMOS33" | SLEW=FAST ;        ## SDRAM ADDR4
NET sdram_addr<5>          LOC =  N1 | IOSTANDARD = "LVCMOS33" | SLEW=FAST ;        ## SDRAM ADDR5
NET sdram_addr<6>          LOC =  M2 | IOSTANDARD = "LVCMOS33" | SLEW=FAST ;        ## SDRAM ADDR6
NET sdram_addr<7>          LOC =  M1 | IOSTANDARD = "LVCMOS33" | SLEW=FAST ;        ## SDRAM ADDR7
NET sdram_addr<8>          LOC =  L1 | IOSTANDARD = "LVCMOS33" | SLEW=FAST ;        ## SDRAM ADDR8
NET sdram_addr<9>          LOC =  K2 | IOSTANDARD = "LVCMOS33" | SLEW=FAST ;        ## SDRAM ADDR9
NET sdram_addr<10>         LOC =  K6 | IOSTANDARD = "LVCMOS33" | SLEW=FAST ;        ## SDRAM ADDR10
NET sdram_addr<11>         LOC =  K1 | IOSTANDARD = "LVCMOS33" | SLEW=FAST ;        ## SDRAM ADDR11
NET sdram_addr<12>         LOC =  J1 | IOSTANDARD = "LVCMOS33" | SLEW=FAST ;        ## SDRAM ADDR12

NET sdram_dq<0>            LOC = A3 | IOSTANDARD = "LVCMOS33" | SLEW=FAST ;        ## SDRAM DATA0
NET sdram_dq<1>            LOC = B3 | IOSTANDARD = "LVCMOS33" | SLEW=FAST ;        ## SDRAM DATA1
NET sdram_dq<2>            LOC = A2 | IOSTANDARD = "LVCMOS33" | SLEW=FAST ;        ## SDRAM DATA2
NET sdram_dq<3>            LOC = B2 | IOSTANDARD = "LVCMOS33" | SLEW=FAST ;        ## SDRAM DATA3
NET sdram_dq<4>            LOC = B1 | IOSTANDARD = "LVCMOS33" | SLEW=FAST ;        ## SDRAM DATA4
NET sdram_dq<5>            LOC = C2 | IOSTANDARD = "LVCMOS33" | SLEW=FAST ;        ## SDRAM DATA5
NET sdram_dq<6>            LOC = C1 | IOSTANDARD = "LVCMOS33" | SLEW=FAST ;        ## SDRAM DATA6
NET sdram_dq<7>            LOC = D1 | IOSTANDARD = "LVCMOS33" | SLEW=FAST ;        ## SDRAM DATA7
NET sdram_dq<8>            LOC = H5 | IOSTANDARD = "LVCMOS33" | SLEW=FAST ;        ## SDRAM DATA8
NET sdram_dq<9>            LOC = G5 | IOSTANDARD = "LVCMOS33" | SLEW=FAST ;        ## SDRAM DATA9
NET sdram_dq<10>           LOC = H3 | IOSTANDARD = "LVCMOS33" | SLEW=FAST ;        ## SDRAM DATA10
NET sdram_dq<11>           LOC = F6 | IOSTANDARD = "LVCMOS33" | SLEW=FAST ;        ## SDRAM DATA11
NET sdram_dq<12>           LOC = G3 | IOSTANDARD = "LVCMOS33" | SLEW=FAST ;        ## SDRAM DATA12
NET sdram_dq<13>           LOC = F5 | IOSTANDARD = "LVCMOS33" | SLEW=FAST ;        ## SDRAM DATA13
NET sdram_dq<14>           LOC = F3 | IOSTANDARD = "LVCMOS33" | SLEW=FAST ;        ## SDRAM DATA14
NET sdram_dq<15>           LOC = F4 | IOSTANDARD = "LVCMOS33" | SLEW=FAST ;        ## SDRAM DATA15

NET lcd_r<0>             LOC = P6 | IOSTANDARD = "LVCMOS33";  ##  Pin33
NET lcd_r<1>             LOC = N6 | IOSTANDARD = "LVCMOS33";  ##  Pin34
NET lcd_r<2>             LOC = P2 | IOSTANDARD = "LVCMOS33";  ##  Pin31
NET lcd_r<3>             LOC = M4 | IOSTANDARD = "LVCMOS33";  ##  Pin32
NET lcd_r<4>             LOC = R1 | IOSTANDARD = "LVCMOS33";  ##  Pin29
NET lcd_r<5>             LOC = R2 | IOSTANDARD = "LVCMOS33";  ##  Pin30
NET lcd_r<6>             LOC = T4 | IOSTANDARD = "LVCMOS33";  ##  Pin27
NET lcd_r<7>             LOC = R5 | IOSTANDARD = "LVCMOS33";  ##  Pin28 
NET lcd_g<0>             LOC = T5 | IOSTANDARD = "LVCMOS33";  ##  Pin25
NET lcd_g<1>             LOC = T6 | IOSTANDARD = "LVCMOS33";  ##  Pin26
NET lcd_g<2>             LOC = R7 | IOSTANDARD = "LVCMOS33";  ##  Pin23
NET lcd_g<3>             LOC = T7 | IOSTANDARD = "LVCMOS33";  ##  Pin24
NET lcd_g<4>             LOC = L8 | IOSTANDARD = "LVCMOS33";  ##  Pin21
NET lcd_g<5>             LOC = T9 | IOSTANDARD = "LVCMOS33";  ##  Pin22
NET lcd_g<6>             LOC = R9 | IOSTANDARD = "LVCMOS33";  ##  Pin19
NET lcd_g<7>             LOC = T12 | IOSTANDARD = "LVCMOS33";  ##  Pin20
NET lcd_b<0>             LOC = R12 | IOSTANDARD = "LVCMOS33";  ##  Pin17
NET lcd_b<1>             LOC = T13 | IOSTANDARD = "LVCMOS33";  ##  Pin18
NET lcd_b<2>             LOC = T14 | IOSTANDARD = "LVCMOS33";  ##  Pin15
NET lcd_b<3>             LOC = R14 | IOSTANDARD = "LVCMOS33";  ##  Pin16
NET lcd_b<4>             LOC = T15 | IOSTANDARD = "LVCMOS33";  ##  Pin13
NET lcd_b<5>             LOC = R15 | IOSTANDARD = "LVCMOS33";  ##  Pin14
NET lcd_b<6>             LOC = R16 | IOSTANDARD = "LVCMOS33";  ##  Pin11
NET lcd_b<7>             LOC = P15 | IOSTANDARD = "LVCMOS33";  ##  Pin12
NET lcd_dclk             LOC = P16 | IOSTANDARD = "LVCMOS33";  ##  Pin9
NET lcd_de               LOC = N16 | IOSTANDARD = "LVCMOS33";  ##  Pin10
NET lcd_hs               LOC = M15 | IOSTANDARD = "LVCMOS33";  ##  Pin7
NET lcd_vs               LOC = M16 | IOSTANDARD = "LVCMOS33";  ##  Pin8

NET lcd_pwm                LOC = J16  | IOSTANDARD = "LVCMOS33" | SLEW=FAST;

NET sd_dclk                LOC = M3  | IOSTANDARD = "LVCMOS33" | SLEW=FAST;   ## CLK/SCK
NET sd_ncs                 LOC = N3  | IOSTANDARD = "LVCMOS33" | SLEW=FAST;   ## DAT3/CS
NET sd_miso                LOC = L4  | IOSTANDARD = "LVCMOS33" | SLEW=FAST;   ## CMD/DI
NET sd_mosi                LOC = L5  | IOSTANDARD = "LVCMOS33" | SLEW=FAST;   ## DATA0/DO

########smg interface Pin define##################### 
NET seg_data<0>            LOC = C7  | IOSTANDARD = "LVCMOS33";   ##  
NET seg_data<1>            LOC = E6  | IOSTANDARD = "LVCMOS33";   ##  
NET seg_data<2>            LOC = C5  | IOSTANDARD = "LVCMOS33";   ##  
NET seg_data<3>            LOC = F7  | IOSTANDARD = "LVCMOS33";   ##  
NET seg_data<4>            LOC = D6  | IOSTANDARD = "LVCMOS33";   ## 
NET seg_data<5>            LOC = E7  | IOSTANDARD = "LVCMOS33";   ## 
NET seg_data<6>            LOC = D5  | IOSTANDARD = "LVCMOS33";   ## 
NET seg_data<7>            LOC = C6  | IOSTANDARD = "LVCMOS33";   ## 

NET seg_sel<0>             LOC = D9  | IOSTANDARD = "LVCMOS33";   ##  
NET seg_sel<1>             LOC = E10 | IOSTANDARD = "LVCMOS33";  ##  
NET seg_sel<2>             LOC = F10 | IOSTANDARD = "LVCMOS33";  ## 
NET seg_sel<3>             LOC = F9  | IOSTANDARD = "LVCMOS33";   ## 
NET seg_sel<4>             LOC = E8  | IOSTANDARD = "LVCMOS33";   ## 
NET seg_sel<5>             LOC = D8  | IOSTANDARD = "LVCMOS33";   ## 

PIN "sys_pll_m0/clkout2_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;
PIN "video_pll_m0/clkout1_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;